<h3>   Time remaining in second : {{720-ticks}} </h3>


<div class="mydiv" *ngIf="qes==1">


  <h1> 1. ഒരു കസ്റ്റമറെ വിസിറ്റ് ചെയ്യാന്‍ പറ്റിയ സമയം എപ്പോഴാണ്.   </h1>
<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[0]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons0" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[0]}}</div>
                                   
 </div>  


<div class="mydiv" *ngIf="qes==2">


  <h1> 2. കസ്റ്റമര്‍ ദേഷ്യപ്പെടുമ്പോള്‍ നിങ്ങള്‍ എന്താണ് ചെയ്യുക .   </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[1]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons1" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[1]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==3">


  <h1> 3. താഴെ കൊടുത്തിട്ടുള്ളതില്‍ കസ്റ്റമര്‍ സര്‍വീസിനെ സംമ്മന്ദിച്ചു ശരിയായിട്ടുള്ളത് ഏതാണ് ?  </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[2]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons2" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[2]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==4">

  <h1> 4. 
ഇവയില്‍ ഏതു കമ്പ്യൂട്ടറിന്റെ ഭാഗം ആണു കണക്കുകൂട്ടലും താരതമ്യപ്പെടുത്തുക എന്നീ ജോലികള്‍ ചെയ്യുന്നത് ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[3]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons3" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[3]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==5">

  <h1> 5. മൈക്രോസോഫ്റ്റ് വിന്‍ഡോസ് ഒരു ___________ ആണു ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[4]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons4" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[4]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==6">
 <h1> 6. ഇവയിൽ ഒരു ഫീൽഡ് റീപ്ലേസ്‌മെൻറ് യൂണിറ്റ് അല്ലാത്തത് ഏതാണ് ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[5]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons5" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[5]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==7">
 <h1> 7. ഇവയിൽ ഏത് മദർ ബോർഡ് ഫോം ഫാക്ടറിനാണ്  20 പിൻ കണക്ടർ ഉപയോഗിക്കുന്നത് ?   </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[6]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons6" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[6]}}</div>
                                   
 </div>  


 <div class="mydiv" *ngIf="qes==8">
 <h1> 8. ഇവയിൽ ഏത് കണക്ടർ  ആണ് കമ്പ്യൂട്ടർ നെറ്റ്‌വർക്കിൽ  ഉപയോഗിക്കുന്നത് ?   </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[7]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons7" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[7]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==9">
 <h1> 9. ഇവയിൽ ഏത് പ്രോട്ടോകോൾ ആണ് ടിസിപി / ഐ പി യിൽ ഇലക്ട്രോണിക് മെയിൽ അയക്കാൻ ഉപയോഗിക്കുന്നത് ?    </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[8]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons8" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[8]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==10">
 <h1> 10. ഇവയിൽ ഏതാണ് ഒരു മദർബോർഡ്  എക്സ്പാൻഷൻ സ്ലോട്ട് അല്ലാത്തത് ?
 </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[9]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons9" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[9]}}</div>
                                   
 </div>  
 <div class="mydiv" *ngIf="qes==11">
 <h1> 11. CRM എന്നതു ?  </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[10]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons10" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[10]}}</div>
                                   
 </div>  



 <div class="mydiv" *ngIf="qes==12">
 <h1> 12. വര്‍ക്ക് എത്തിക്സ് ഇവയില്‍ ഏതാണ് ?  </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[11]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons11" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[11]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==13">
 <h1> 13. ഇവയില്‍ അസന്മാര്‍ഗിഗം ആയതു എന്താണ് ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[12]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons12" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[12]}}</div>
                                   
 </div>  


 <div class="mydiv" *ngIf="qes==14">
 <h1> 14. 
സര്‍വീസ് ചെയ്യേണ്ട സ്ഥലം നിങ്ങളുടെ കൂട്ടുകാരന്‍റെ വീടിനു അടുത്താണെങ്കില്‍ നിങ്ങള്‍ എന്ത് ചെയ്യും ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[13]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons13" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[13]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==15">
 <h1> 15. 

സര്‍വീസിന് ശേഷം കസ്ടമറിനെ വീണ്ടും വിളിക്കുന്നത്‌ എന്തിനു വേണ്ടിയാണ് ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[14]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons14" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[14]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==16">
 <h1> 16. 

ഉൽപ്പന്നത്തിന്റെ  പ്രവർത്തന രീതികൾ പ്രതിപാദിക്കുന്നത്  ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[15]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons15" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[15]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==17">
 <h1> 17. 

ഗ്രാഫിക്സ് കൂടുതലായി അവശ്യമായി വരുമ്പോൾ നിങ്ങൾ സാധാരണയായി  എന്താണ്‌ ചെയ്യുക  ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[16]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons16" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[16]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==18">
 <h1> 18. 

നിങ്ങളുടെ കൂടെ വർക്ക് ചെയ്യുന്ന ഒരാൾക്ക്  വരുന്ന ഫോൺ കാൾ  നിങ്ങൾ അറ്റൻഡ് ചെയ്യുകയാണെങ്കിൽ അതിൽ ഏറ്റവും കുറച്ചു പ്രധാനപ്പെട്ടത്  ഏതാണ് ? ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[17]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons17" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[17]}}</div>
                                   
 </div>  




<div class="mydiv" *ngIf="qes==19">
 <h1> 19. 

സംഘടനാ തലത്തിലുള്ള നല്ല  സംസ്കാരം  ഇവയിൽ ഏതാണ്  ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[18]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons18" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[18]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==20">
 <h1> 20. 

ഇവയിൽ കസ്റ്റമർ സർവിസിൽ  തീർച്ചയായും തെറ്റായിട്ടുള്ളത്   ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[19]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons19" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[19]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==21">
 <h1> 21. നെറ്റ്‌വർക്ക് സ്വിച്ച് ഏത് ലയറിൽ ആണ്‌ പ്രവൃത്തിക്കുന്നതു   ? </h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[20]">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons20" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[20]}}</div>
                                   
 </div> 

 <div class="mydiv" *ngIf="qes==22">
 <h1> You have sucessfully Completed the Exam click SUBMIT to Submit the answers  </h1>


                                   
 </div>  



<div class="plane">

  ട്രാൻസ്മിഷൻ  ചാനലിൽ  സിഗ്നൽ പവർ കുറയുന്നതിനെ _______________ എന്ന് പറയുന്നു 
  ISO/OSI ലയറിൽ ടോക്കൺ മാനേജ്‌മന്റ് ചെയ്യുന്നത്  ഏത് ലയർ ആണ് ?
  IPV4 ൻറെ  വലിപ്പം ( ബിറ്റിൽ  )?
  സബ് നെറ്റ്  മാസ്ക്  255.255.0.0  ഏത് ഐ പി  ക്ലാസ്സിലാണ് ഉപയോഗിക്കുന്നത് ?
  ലൂപ്പ് ബാക്  അഡ്രസ്സ്  ഇവയിൽ ഏതാണ്   ?
  ഇവയിൽ ഏതാണ് ഒരു കമ്പ്യൂട്ടർ പോർട്ട് (Computer Port) ആയിട്ടുള്ളത് ?
  ഇവയിൽ  ഏതാണ്  ഡേറ്റ നെറ്റ്‌വർക്കിൽ  ഉപയോഗിക്കാൻ സാധിക്കാത്തത്  ?
  ഇവയിൽ  ഏത്  നെറ്റ്‌വർക് ആണ് കൂടുതൽ വിശ്വാസ്യത (Reliability) ഉള്ളത് ?
  ലേസർ പ്രിൻറ്റർ  ഒരു ?
  ഒരു പേപ്പറിലേക്ക്  പ്രിൻറ്  ചെയ്യുന്ന ഔട്ട്പുട്ടിനെ _____________ എന്ന് പറയുന്നു  ?
  ഇവയിൽ ഹാർഡ്‌വെയറും  സോഫ്റ്റ്‌വെയറും  ആയതു ഏതാണ് ? 
  ഇവയിൽ റീഫ്രഷിങ്  വേണ്ട മെമ്മറി ഏതാണ് ? 
  ISO/OSI എന്നത് ഒരു 

</div>

<div class="bottom">

 <span class="prev" *ngIf="qes>1 && qes < 23">
 <button mat-raised-button (click)="prev()"><< Previous </button>
   </span>  

  <span class="next" *ngIf="qes<22">                               
 <button mat-raised-button (click)="next()">Next >></button>
  </span>
 <span class="submit">
  <button mat-raised-button (click)="res()"> SUBMIT EXAM </button>
  </span>  
   
   <footer>Copyright &copy; prems021</footer>
</div>

