
<h3>   Time remaining in second : {{720-ticks}} </h3>


<div class="mydiv" *ngIf="qes==1">


  <h1> 1. ഇവയിൽ ഒരു സെക്കൻഡറി  മെമ്മറി  ഏതാണ് ?   </h1>
<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[0]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons0" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[0]}}</div>
                                   
 </div>  


<div class="mydiv" *ngIf="qes==2">


  <h1> 2. ഇവയിൽ പവർ സപ്ലൈ യുടെ ധർമ്മം എന്താണ് ?  </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[1]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons1" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[1]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==3">


  <h1> 3. താഴെ കൊടുത്തിട്ടുള്ളതില്‍ സർവീസിനെ സംമ്മന്ദിച്ചു ശരിയായിട്ടുള്ളത് ഏതാണ് ?  </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[2]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons2" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[2]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==4">

  <h1> 4. 
ഇവയില്‍ ഏതു കമ്പ്യൂട്ടറിന്റെ ഭാഗം ആണു ഡാറ്റ സ്റ്റോർ ചെയ്യുന്നത് ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[3]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons3" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[3]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==5">

  <h1> 5. NTFS ( എൻ  ടി  എഫ്  എസ്  )  ഒരു ___________ ആണു ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[4]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons4" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[4]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==6">
 <h1> 6. ഇവയിൽ ഒരു ഹാർഡ്‌വെയർ  യൂണിറ്റ് അല്ലാത്തത് ഏതാണ് ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[5]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons5" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[5]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==7">
 <h1> 7. ഇവയിൽ ഏത് ടെക്നോളജി ആണ് 40 പിൻ ഡാറ്റ  കണക്ടർ ഉപയോഗിക്കുന്നത് ?   </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[6]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons6" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[6]}}</div>
                                   
 </div>  


 <div class="mydiv" *ngIf="qes==8">
 <h1> 8. ഇവയിൽ ഏത് കണക്ടർ  ആണ് സി പി യു  വിനെ മോണിറ്ററുമായി ബന്ധിപ്പിക്കാൻ  ഉപയോഗിക്കുന്നത് ?   </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[7]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons7" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[7]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==9">
 <h1> 9. പവർ സപ്ലൈയിൽ ചുവന്ന കളർ വയർ ഏത് വോൾട്ടജ് പ്രതിനിധാനം ചെയ്യുന്നു ?    </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[8]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons8" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[8]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==10">
 <h1> 10. ഇവയിൽ ഏതാണ് ഒരു മദർബോർഡിൽ കാണാൻ സാധിക്കാത്തതു  ?
 </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[9]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons9" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[9]}}</div>
                                   
 </div>  
 <div class="mydiv" *ngIf="qes==11">
 <h1> 11. റെസലൂഷൻ എന്നത് സൂചിപ്പിക്കുന്നത് എന്താണ് ?  </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[10]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons10" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[10]}}</div>
                                   
 </div>  



 <div class="mydiv" *ngIf="qes==12">
 <h1> 12. വ ?  </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[11]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons11" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[11]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==13">
 <h1> 13. ഇവയില്‍ അസന്മാര്‍ഗിഗം ആയതു എന്താണ് ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[12]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons12" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[12]}}</div>
                                   
 </div>  


 <div class="mydiv" *ngIf="qes==14">
 <h1> 14. 
സര്‍വീസ് ചെയ്യേണ്ട സ്ഥലം നിങ്ങളുടെ കൂട്ടുകാരന്‍റെ വീടിനു അടുത്താണെങ്കില്‍ നിങ്ങള്‍ എന്ത് ചെയ്യും ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[13]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons13" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[13]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==15">
 <h1> 15. 

സര്‍വീസിന് ശേഷം കസ്ടമറിനെ വീണ്ടും വിളിക്കുന്നത്‌ എന്തിനു വേണ്ടിയാണ് ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[14]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons14" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[14]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==16">
 <h1> 16. 

ഉൽപ്പന്നത്തിന്റെ  പ്രവർത്തന രീതികൾ പ്രതിപാദിക്കുന്നത്  ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[15]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons15" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[15]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==17">
 <h1> 17. 

ഗ്രാഫിക്സ് കൂടുതലായി അവശ്യമായി വരുമ്പോൾ നിങ്ങൾ സാധാരണയായി  എന്താണ്‌ ചെയ്യുക  ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[16]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons16" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[16]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==18">
 <h1> 18. 

നിങ്ങളുടെ കൂടെ വർക്ക് ചെയ്യുന്ന ഒരാൾക്ക്  വരുന്ന ഫോൺ കാൾ  നിങ്ങൾ അറ്റൻഡ് ചെയ്യുകയാണെങ്കിൽ അതിൽ ഏറ്റവും കുറച്ചു പ്രധാനപ്പെട്ടത്  ഏതാണ് ? ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[17]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons17" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[17]}}</div>
                                   
 </div>  




<div class="mydiv" *ngIf="qes==19">
 <h1> 19. 

സംഘടനാ തലത്തിലുള്ള നല്ല  സംസ്കാരം  ഇവയിൽ ഏതാണ്  ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[18]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons18" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[18]}}</div>
                                   
 </div>  

<div class="mydiv" *ngIf="qes==20">
 <h1> 20. 

ഇവയിൽ കസ്റ്റമർ സർവിസിൽ  തീർച്ചയായും തെറ്റായിട്ടുള്ളത്   ? </h1>

<md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[19]">
  <md-radio-button class="example-radio-button" *ngFor="let season of seasons19" [value]="season">
    {{season}}
  </md-radio-button>
</md-radio-group>
<div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[19]}}</div>
                                   
 </div>  

 <div class="mydiv" *ngIf="qes==21">
 <h1> You have sucessfully Completed the Exam click SUBMIT to Submit the answers  </h1>


                                   
 </div>  



<div class="plane">



</div>

<div class="bottom">

 <span class="prev" *ngIf="qes>1 && qes < 22">
 <button md-raised-button (click)="prev()"><< Previous </button>
   </span>  

  <span class="next" *ngIf="qes<21">                               
 <button md-raised-button (click)="next()">Next >></button>
  </span>
 <span class="submit">
  <button md-raised-button (click)="res()"> SUBMIT EXAM </button>
  </span>  
   
   <footer>Copyright &copy; prems021</footer>
</div>
