.timediv
{
      width: 102%;
   
    text-align: center;
    margin-left: -1%;
    height: 20%;
    background-color: yellowgreen;

}
.qesdiv
{
background-color: wheat;
       width: 102%;
    height: 50%;
    margin-left: -1%;
}


.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.bottom
{
width: 100%;
    height: 15%;
    margin-left: -1%;
    position: absolute;
    bottom: 0%;
 
    
}


.prev
{
   
}
.next
{

   
}
.plane
{
      
    background-color: burlywood;
    min-height: 10%;
}
.footer
{
       position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
    background: #6cf;
    text-align: right;
    margin-left: -1%;
    padding: 1%;
}

body {
   margin:0;
   padding:0;
   height:100%;
}
