<div class="timediv">
  <h3>   Time remaining in second : {{1200-ticks}} </h3>
  </div>
  <div class="container-fluid">
  <div class="qesdiv">
  <div class="mydiv" *ngIf="qes==1">
  
  
    <h3> 1. ഒരു കസ്റ്റമറെ വിസിറ്റ് ചെയ്യാന്‍ പറ്റിയ സമയം എപ്പോഴാണ്.   </h3>
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[0]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons0" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[0]}}</div>
                                     
   </div>  
  
  
  <div class="mydiv" *ngIf="qes==2">
  
  
    <h3> 2. കസ്റ്റമര്‍ ദേഷ്യപ്പെടുമ്പോള്‍ നിങ്ങള്‍ എന്താണ് ചെയ്യുക .   </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[1]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons1" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[1]}}</div>
                                     
   </div>  
  
  <div class="mydiv" *ngIf="qes==3">
  
  
    <h3> 3. താഴെ കൊടുത്തിട്ടുള്ളതില്‍ കസ്റ്റമര്‍ സര്‍വീസിനെ സംമ്മന്ദിച്ചു ശരിയായിട്ടുള്ളത് ഏതാണ് ?  </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[2]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons2" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[2]}}</div>
                                     
   </div>  
  
  <div class="mydiv" *ngIf="qes==4">
  
    <h3> 4. മൈക്രോ വേവ് ആവൃത്തി ശ്രേണി ഇവയില്‍ ഏതാണ് </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[3]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons3" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[3]}}</div>
                                     
   </div>  
  
   <div class="mydiv" *ngIf="qes==5">
  
    <h3> 5. മിക്സറുകളില്‍ ഉപയോഗിക്കുന്ന യുണിവേഴ്സല്‍ മോട്ടോര്‍ ഇവയില്‍ ഏതാണ് </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[4]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons4" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[4]}}</div>
                                     
   </div>  
  
  <div class="mydiv" *ngIf="qes==6">
   <h3> 6. മൈക്രോ വേവ് ഓവനുകളില്‍ ഇലക്ട്രിക്‌ എനെര്‍ജി മൈക്രോ വേവ് റെഡിയെഷനുകളാക്കി മാറ്റുന്നത് ഇവയില്‍ ഏതാണ്</h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[5]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons5" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[5]}}</div>
                                     
   </div>  
  
   <div class="mydiv" *ngIf="qes==7">
   <h3> 7. KDF ഫില്‍റ്ററിന്റെ പ്രവര്‍ത്തന തത്വo</h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[6]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons6" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[6]}}</div>
                                     
   </div>  
  
  
   <div class="mydiv" *ngIf="qes==8">
   <h3> 8. കപ്പാസിറ്റര്‍ സ്റ്റാര്‍ട്ട്‌ മോട്ടോറുകളില്‍  കപ്പാസിറ്റര്‍ ________ മായി സീരിയല്‍ കണക്ട് ചെയ്യുന്നു   </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[7]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons7" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[7]}}</div>
                                     
   </div>  
  
   <div class="mydiv" *ngIf="qes==9">
   <h3> 9. വളരെ ചെറിയ തോതില്‍ വെള്ളം ശുദ്ധീകരിക്കുന്നത് ?   </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[8]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons8" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[8]}}</div>
                                     
   </div>  
  
   <div class="mydiv" *ngIf="qes==10">
   <h3> 10. TDS റീഡിംഗ് അളക്കുന്നത്  ________ യുണിറ്റിലാണു  </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[9]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons9" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[9]}}</div>
                                     
   </div>  
   <div class="mydiv" *ngIf="qes==11">
   <h3> 11. CRM എന്നതു ?  </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[10]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons10" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[10]}}</div>
                                     
   </div>  
  
  
  
   <div class="mydiv" *ngIf="qes==12">
   <h3> 12. വര്‍ക്ക് എത്തിക്സ് ഇവയില്‍ ഏതാണ് ?  </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[11]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons11" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[11]}}</div>
                                     
   </div>  
  
   <div class="mydiv" *ngIf="qes==13">
   <h3> 13. ഇവയില്‍ അസന്മാര്‍ഗിഗം ആയതു എന്താണ് ? </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[12]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons12" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[12]}}</div>
                                     
   </div>  
  
  
   <div class="mydiv" *ngIf="qes==14">
   <h3> 14. 
  സര്‍വീസ് ചെയ്യേണ്ട സ്ഥലം നിങ്ങളുടെ കൂട്ടുകാരന്‍റെ വീടിനു അടുത്താണെങ്കില്‍ നിങ്ങള്‍ എന്ത് ചെയ്യും ? </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[13]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons13" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[13]}}</div>
                                     
   </div>  
  
   <div class="mydiv" *ngIf="qes==15">
   <h3> 15. 
  
  സര്‍വീസിന് ശേഷം കസ്ടമറിനെ വീണ്ടും വിളിക്കുന്നത്‌ എന്തിനു വേണ്ടിയാണ് ? </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[14]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons14" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[14]}}</div>
                                     
   </div>  
    
    
    
     <div class="mydiv" *ngIf="qes==16">
    <h3> 16. 
  
  ഉൽപ്പന്നത്തിന്റെ  പ്രവർത്തന രീതികൾ പ്രതിപാദിക്കുന്നത്  ? </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[15]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons15" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[15]}}</div>
                                     
   </div>  
    
    
     <div class="mydiv" *ngIf="qes==17">
   <h3> 17. 
  
  നിങ്ങളുടെ കൂടെ വർക്ക് ചെയ്യുന്ന ഒരാൾക്ക്  വരുന്ന ഫോൺ കാൾ  നിങ്ങൾ അറ്റൻഡ് ചെയ്യുകയാണെങ്കിൽ അതിൽ  ഏറ്റവും കുറച്ചു പ്രധാനപ്പെട്ടത്  ഏതാണ് ?  </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[16]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons16" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[16]}}</div>
                                     
   </div>  
  
  
  
  
  <div class="mydiv" *ngIf="qes==18">
   <h3> 18. 
  
  സംഘടനാ തലത്തിലുള്ള നല്ല  സംസ്കാരം  ഇവയിൽ ഏതാണ്  ? </h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[17]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons17" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[17]}}</div>
                                     
   </div>  
  
     <div class="mydiv" *ngIf="qes==19">
   <h3> 19. 
  
  സാധാരണയായി ഡോർ സ്വിച്ചിൻ്റെ  റേറ്റിംഗ്  എത്രയാണ്  ?</h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[18]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons18" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[18]}}</div>
                                     
   </div>  
  
    
     <div class="mydiv" *ngIf="qes==20">
   <h3> 20. 
  
  പവർ സോക്കറ്റ്  ഓവർലോഡ്  ആകുന്നത് എന്തിനു കാരണമായേക്കാം   ?</h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[19]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons19" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[19]}}</div>
                                     
   </div>  
    
    
      
     <div class="mydiv" *ngIf="qes==21">
   <h3> 21.  ഒരു ടേൺ ടേബിൾ മോട്ടോറിന്റെ  സ്പീഡ്  എത്രയാണ്   ?</h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[20]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons20" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[20]}}</div>
                                     
   </div>  
    
     <div class="mydiv" *ngIf="qes==22">
   <h4> 22.  നിങ്ങൾ നിങ്ങളുടെ സഹപ്രവർത്തകനുമായി അഭിപ്രായവത്യാസത്തിലാണെന്നിരിക്കട്ടെ . 
     സർവീസിന്  അയാളുമൊത്തു പോകാൻ സൂപ്പർവൈസർ ആവശ്യപ്പെടുകയാണെങ്കിൽ  നിങ്ങൾ എന്ത് ചെയ്യും ? </h4>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[21]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons21" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[21]}}</div>
                                     
   </div>  
  
        <div class="mydiv" *ngIf="qes==23">
   <h3> 23.    വാട്ടർ ട്രീറ്റ്മെൻറ്  ചെയ്യുമ്പോൾ സെഡിമെന്റഷൻ  എപ്പോഴാണ് ചെയ്യുക.    ?</h3>
  
  <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason[22]">
    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons22" [value]="season">
      {{season}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="example-selected-value">നിങ്ങള്‍ സെലക്ട്‌ ചെയ്ത ഉത്തരം: {{favoriteSeason[22]}}</div>
                                     
   </div>  
  
  
  
  
   <div class="mydiv" *ngIf="qes==24">
   <h1> You have sucessfully Completed the Exam click SUBMIT to Submit the answers  </h1>
  
  
                                     
   </div>  
    
  
    </div>
    
    </div>
  <div class="plane">
  
  
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="bottom">
  <mat-card>
   <span class="prev" *ngIf="qes>1 && qes < 24">
   <button mat-raised-button (click)="prev()"><< Previous </button>
     </span>  
   
     <span class="submit">
    <button mat-raised-button (click)="res()"> SUBMIT EXAM </button>
    </span>  
  
    <span class="next" *ngIf="qes<24">                               
   <button mat-raised-button (click)="next()">Next >></button>
    </span>
    
    
  
    
    </mat-card>
    </div>
  
  <div class="footer">
    <footer> <span class="copyr"> Copyright &copy; prems021  </span> </footer>
  </div>
  
  
  
